//
//  Development.xcconfig
//  Juicy
//
//  Created by Brian Vallelunga on 6/15/14.
//  Copyright (c) 2014 Brian Vallelunga. All rights reserved.
//


PARSE_APPLICATION_ID = 1GvIRYDV5tyGZx3iehQDOXdgHVvjyTfpmRddlZG1
PARSE_CLIENT_KEY = Rgj67HFnjBPl4R0e0WYGMi4smHc26MYoP0lJwh6G

FACEBOOK_ID = 672378576178347
FACEBOOK_NAME = Juicy - Test

NEW_RELIC_KEY = AAa6f3195441c64f3acf9364bb2e31086291a036ef

BUGSNAG_KEY = c39b2698c70febaede66c8ef73e22bd1