//
//  Development.xcconfig
//  Juicy
//
//  Created by Brian Vallelunga on 6/15/14.
//  Copyright (c) 2014 Brian Vallelunga. All rights reserved.
//

PARSE_APPLICATION_ID = JiY9SpududxaHLqhF83mhXglIIeLF2Zmvi5Z09hi
PARSE_CLIENT_KEY = O7jOTzW2zkqPpxjRYRembqZlHvfxj16WPpbFmn8u

FACEBOOK_ID = 672378576178347
FACEBOOK_NAME = Juicy - Test

NEW_RELIC_KEY = AAa6f3195441c64f3acf9364bb2e31086291a036ef

CRASHLYTICS_KEY = 688e4a674f0faffc985c7ea15a46ee164671cc15

TWILIO_SID = ACdf6e01e0d0cd943e9aa2a45d6117d624
TWILIO_TOKEN = addf9c4db22654ab9b978999e319dd70
TWILIO_PHONE = +13105987428