//
//  Release.xcconfig
//  Juicy
//
//  Created by Brian Vallelunga on 6/15/14.
//  Copyright (c) 2014 Brian Vallelunga. All rights reserved.
//

PARSE_APPLICATION_ID = JiY9SpududxaHLqhF83mhXglIIeLF2Zmvi5Z09hi
PARSE_CLIENT_KEY = O7jOTzW2zkqPpxjRYRembqZlHvfxj16WPpbFmn8u

FACEBOOK_ID = 668538933228978
FACEBOOK_NAME = Juicy

NEW_RELIC_KEY = AAa6f3195441c64f3acf9364bb2e31086291a036ef

HOCKEY_APP_KEY = 814aa8989cc1cb8a051489d7c533bc66